header {
  background-color: #003366;
  color: azure;
  text-align: center;
  padding: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 30;
  background-color: aliceblue;
  color: #333;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
}

section {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 22px 30px;
  max-width: 700px;
  margin: 0;
}

form label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
select {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 10px;
}

